U.I/__pycache__/main_window.cpython-39.pyc
U.I/Custom Widget/__pycache__/OcrFormattingClass.cpython-39.pyc
U.I/Custom Widget/__pycache__/OcrFormattingClass.cpython-310.pyc
U.I/Custom Widget/__pycache__/OcrProcessingClass.cpython-39.pyc
.gitignore
